/* Project One: Introduction to Layouts Using Floats
(This project would help you see the need for responsive lay outs)*/

/* Happy Coding and Remember, Jesus Loves You */

body {
    font-family: 'Source Sans Pro',sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    margin-left: 16px;
    color: black;
    text-decoration: none;
}

.nav {
    font-weight: 600;
    padding: 32px 0;
    background-color: ghostwhite;
}

.side-nav {
    float: right;
}

.side-nav-links {
    margin: 0 8px;
    text-decoration: none;

    /* text-decoration: none, removes the default
    underline decoration on a tags (Links) */
    
    color: black;
}

.corona {
    color: #e0501b;
}

.main {
    height: 550px;
}

.header {
    margin-left: 48px;
    margin-top: 48px;
    display: inline-block;
}

.primary-hero-txt {
    font-size: 56px;
}

.hero-txt-color {
    color: #e0501b;
    font-size: 34px;
}

.secondary-hero-txt {
    color: lightgray;
    line-height: 28.8px;
}

.hero-img {
    width: 400px;
    height: 480px;
    float: right;
}

.button {
    width: 160px;
    height: 48px;
    background-color: #2f8be0;
    color: white;
    border-radius: 45px;
    outline: none;
    border: 1px solid transparent;

    /* The "Border" property above is a shorthand for 
    individual border properties i.e
    
    border-width: 1px; 
    border-style: solid and 
    border-color: transparent
    
    */

    cursor: pointer;
    text-decoration: none;
}

/* Transparent color means the element is set to the color of its 
background */

.mobile-app {
    background-color: #ffce63;
    height: 400px;
}

.mobile-app-img {
    width: 250px;
    height: 300px;
    margin-top: 30px;
    margin-right: 150px;
    float: right;
}

.mobile-app-txt {
    width: 700px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 35px;
}

.update {
    font-size: 20px;
    font-weight: normal;
}

.download-img {
    width: 150px;
    height: 40px;
    margin-top: 30px;
}

.footer {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.footer-content {
    margin-top: 20px;
}

.footer-items {
    margin: 0 20px;
}
